 <div class="form-inline">
 	<div class="form-group">
 		<%= f.label :amount %>
 		<%= f.text_field :amount, class: "form-control" %>
 	</div>
 	<div class="form-group">
 		<%= f.label :measure %>
 		<%= f.text_field :measure, class: "form-control" %>
 	</div>
 	<div class="form-group">
  	<%= f.label :ingredient_id, "ingredient" %>
 		<%= f.text_field :ingredient_name, class: "form_control" %>
 	</div>
 </div>